body {
  background-color: #ddd;
}

.test1 {
  position: absolute;
  top: 50%;
  left: 40%;
}

.test2 {
  position: absolute;
  top: 50%;
  left: 40%;
}

.link1 {
  position: absolute;
  top: 5px;
  left: 5px;
}

.link2 {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
